<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Employerr - Project detail</title>
</head>
<body>
<section layout:fragment="content" class="container py-4">
    <div>
        <h1>Project details</h1>
    </div>

    <div class="p-3">
        <div class="p-2">
        <h4>Basic information</h4>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p><b>ID:</b> <span th:text="${project.id}"></span></p>
                <p><b>Name of the project:</b> <span th:text="${project.name}"></span></p>
            </div>
        </div>
        </div>

        <div class="p-2">
        <h4>Additional information</h4>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p><b>Assigned owner:</b>
                    <span th:text="${project.projectOwner?.getFullName()?:'No one assigned'}">No one assigned </span>
                    <span th:text="'(' + ${#strings.capitalize(#strings.toLowerCase(project.projectOwner?.role))?:'No role'} + ')'"></span>
                    <a target="_blank" th:title="'Show details of '+${project.projectOwner?.getFullName()}" th:href="@{'/dashboard/user/detail/'+${project.projectOwner?.id}}">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                </p>
                <p><b>Description:</b> <span th:text="${project.description}"></span></p>
            </div>
            <div class="col-md-6">
                <p><b>URL:</b> <span th:text="${project.url}"></span></p>
                <p><b>Project info:</b> <span th:text="${project.projectInfo}"></span></p>
            </div>
        </div>
        </div>

        <div class="p-2">
        <h4>Data manipulation</h4>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p><b>Created at:</b> <span th:text="${#dates.format(project.createdAt, 'HH:mm:ss dd.MM.yyyy')}"></span></p>
                <p><b>Last time edited:</b> <span th:text="${#dates.format(project.lastEditedAt, 'HH:mm:ss dd.MM.yyyy')}"></span></p>
            </div>
        </div>
        </div>
        <div class="p-2">
            <h4>Users assigned to project</h4>
            <hr>
            <div class="row">
                <div class="col-md-12">
                   <table class="table table-striped table-bordered text-center">
                       <thead class="thead-dark">
                       <tr>
                           <td>First name</td>
                           <td>Last name</td>
                           <td>Role name</td>
                           <td>Email</td>
                           <td>Show detail</td>
                       </tr>
                       </thead>
                       <tbody>
                       <tr th:each="user: ${#lists.sort(project.usersOnProject)}">
                       <td th:text="${user.firstName}"></td>
                           <td th:text="${user.lastName}"></td>
                           <td th:text="${#strings.capitalize(#strings.toLowerCase(user.role))}"></td>
                           <td th:text="${user.email}"></td>
                           <td><a th:title="'Show details of '+${project.projectOwner?.getFullName()}" target="_blank" th:href="@{'/dashboard/user/detail/'+${user.id}}"><i class="fa-solid fa-magnifying-glass"></i></a></td>
                       </tr>
                       </tbody>
                   </table>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>