<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>
  <meta charset="UTF-8">
  <title>Task detail</title>
</head>
<body>
<section layout:fragment="content" class="container py-4">
  <div class="d-flex flex-column">
    <div class="d-flex justify-content-between">
      <label>ID: Name</label>
      <label th:if="${task.completed == false}"><i class="fa-solid fa-user"></i> Created by:</label>
      <label th:if="${task.completed == true}"><i class="fa-solid fa-user"></i> Completed by:</label>
    </div>
    <div class="d-flex justify-content-between">
      <h2 class="m-0" th:text="${task.id} +': ' + ${task.name}">ID: name</h2>
      <p th:if="${task.completed == false}" class="d-flex justify-content-end flex-column text-end m-0">
        <b th:text="${task.createdBy.fullName}">Creator</b>
        <span th:text="${#dates.format(task.createdAt, 'dd.MM.yyyy')}"></span>
      </p>
      <p th:if="${task.completed == true}" class="d-flex justify-content-end flex-column text-end m-0">
        <b th:text="${task.completedBy.fullName}">Creator</b>
        <span th:text="${#dates.format(task.completedAt, 'dd.MM.yyyy')}"></span>
      </p>
    </div>
  </div>
  <hr/>
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h4><i class="fa-solid fa-tasks"></i> Description:</h4>
      </div>
      <form th:if="${task.completed == false}" th:action="@{'/dashboard/task/finish/'+${task.id}}" th:method="POST">
        <div>
          <input th:value="${task.id}" type="hidden" name="task"/>
          <button class="btn" type="submit">Mark as finished <i class="fa-solid fa-circle-check" style="color:white"></i> </button>
        </div>
      </form>

    </div>
    <div class="card my-1 p-4">
      <div class="row">
        <div class="col-md-12" th:utext="${task.content}">
        </div>
      </div>
    </div>
  </div>
  <div class="container py-5">
    <h4><i class="fa-solid fa-clock"></i> Work time</h4>
    <hr/>
    <form class="py-1" th:action="@{/dashboard/task/addTime}" th:object="${newTaskTime}" th:method="POST">
      <input type="hidden" th:value="${task.id}" name="task">
      <input type="hidden" th:value="${task.assignedToProject.id}" name="project">
      <input type="hidden" th:value="${user.id}" name="user">
      <div class="row">
        <div class="col col-sm-12 col-md-5">
          <label class="col-form-label text-start"><i class="fa-solid fa-circle-check"></i> <b>Work started at:</b></label>
          <input class="form-control w-75" type="datetime-local" id="startTime"
                 name="startTimeString" step="1">
        </div>
        <div class="col col-12 col-md-5">
          <label class="col-form-label text-start"><i class="fa-solid fa-calendar-xmark"></i> <b>Work ended at:</b></label>
          <input class="form-control w-75" type="datetime-local" id="endTime"
                 name="endTimeString" step="1">
        </div>
        <div class="col col-12 col-md-2 pt-4 pt-md-0 d-flex align-items-end">
          <button type="submit" class="btn btn-md btn-danger">Add work time</button>
        </div>
      </div>

      <script defer>
          window.addEventListener('load', () => {
              var now = new Date();
              now.setMinutes(now.getMinutes() - now.getTimezoneOffset());

              /* remove millisecond */
              now.setMilliseconds(null)

              document.getElementById('startTime').value = now.toISOString().slice(0, -1);
              document.getElementById('endTime').value = now.toISOString().slice(0, -1);
          });
      </script>
    </form>
    <div>
      <div class="d-flex flex-column flex-md-row mt-4 gap-0 gap-md-4 mb-4">
        <p>
          <span>So far you worked</span>
          <b><span th:text="${hoursWorked}"></span> hours</b>
          <span>on this task</span>
        </p>
        <details>
          <summary><u>Earnings</u></summary>
          <span th:text="${hoursWorked * user.salary}"></span>$
        </details>
      </div>
      <table th:if="${!timeList.isEmpty()}" id="datatable" class="table table-striped table-bordered text-center">
        <thead class="thead-dark">
        <tr>
          <td>ID</td>
          <td>Work started at</td>
          <td>Work ended at</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="timestamp: ${timeList}">
          <td th:text="${timestamp.id}"></td>
          <td th:text="${#temporals.format(timestamp.startTime,'dd.MM.yyyy HH:mm:ss')}"></td>
          <td th:text="${#temporals.format(timestamp.endTime,'dd.MM.yyyy HH:mm:ss')}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container py-2 pb-4">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="m-0"><i class="fa-solid fa-comment"></i> Task comments</h4>
      <button type="button" class="btn btn-md btn-danger " id="modalButton" data-toggle="modal"
              data-target="#modal">
        Add new comment
      </button>
    </div>
    <hr/>
  </div>
  <div class="row container mb-4 mx-0" th:each="comment : ${comments}">
    <div class="col-8 d-flex gap-4 w-100">
      <h5 th:text="${comment.createdBy.getFullName()}">name</h5>
      <span th:text="${#dates.format(comment.createdAt,'HH:mm dd.MM.yyyy')}">created at</span>
    </div>
    <hr class="m-0"/>
    <div class="container" style="border-left: 1px solid lightgray">
      <p th:utext="${comment.content}">comment</p>
    </div>
  </div>

  <!-- Modal for creating new comment assigned to current task -->
  <div layout:replace="~{fragments/modal :: modal(title='Add comment to this task')}">
    <div layout:fragment="modalContent">
      <form th:action="@{/dashboard/task/newComment}" th:object="${newComment}" th:method="POST">
        <div class="form-group row py-1">
          <input type="hidden" th:value="${task.id}" name="task">
          <div class="d-flex flex-row py-1">
            <label class="col-form-label text-start w-25"><b>Project name:</b></label>
            <input type="text" th:value="${task.assignedToProject.name}" class="form-control" readonly disabled>
          </div>
          <div class="d-flex flex-row py-1">
            <label class="col-form-label text-start w-25"><b>Task name:</b></label>
            <input type="text" th:value="${task.name}" class="form-control" readonly disabled>
          </div>
          <label class="col-form-label text-start"><b>Comment:</b></label>
          <div class="col-sm-12 col-md-6">
            <div class="input-group">
              <textarea type="text" id="editor" rows="4" placeholder="Add your comment here" class="form-control"
                        aria-label="Add your comment here"
                        th:field="*{content}" autocomplete="off"></textarea>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end py-4">
          <button type="submit" class="btn btn-md btn-danger">Add comment to task</button>
        </div>
      </form>
    </div>
  </div>
</section>
</body>
</html>