<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>User detail</title>
</head>
<body>
<section layout:fragment="content" class="container py-4">
    <div>
        <h1><i class="fa-solid fa-circle-user" ></i> User details</h1>
    </div>

    <div class="container p-3">
        <div class="p-2">
        <h4>Basic information</h4>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <p><i class="fa-solid fa-id-card" ></i> <b>ID:</b> <span th:text="${user.id}"></span></p>
                <p><i class="fa-solid fa-signature" ></i> <b>First name:</b> <span th:text="${user.firstName}"></span></p>
                <p><i class="fa-solid fa-signature" ></i> <b>Last name:</b> <span th:text="${user.lastName}"></span></p>
                <p><i class="fa-solid fa-mail-bulk" ></i> <b>Email:</b> <span th:text="${user.email}"></span></p>
                <p sec:authorize="hasRole('ROLE_OWNER')"><i class="fa-solid fa-sack-dollar" ></i> <b>Salary ($/hour):</b> <span th:text="${#numbers.formatDecimal(user.salary, 0, 'WHITESPACE', 0, 'POINT' )}"></span>$</p>
            </div>
        </div>
        </div>

        <div th:if="${user.contact}"  class="p-2">
        <h4>Additional information</h4>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <p><i class="fa-solid fa-street-view" ></i> <b>Street address:</b> <span th:text="${user.contact.street}"></span></p>
                <p><i class="fa-solid fa-building" ></i> <b>City:</b> <span th:text="${user.contact.city}"></span></p>
            </div>
            <div class="col-md-6">
                <p><i class="fa-solid fa-hashtag" ></i> <b>Zip code:</b> <span th:text="${user.contact.zipCode}"></span></p>
                <p><i class="fa-solid fa-globe" ></i> <b>State:</b> <span th:text="${user.contact.state}"></span></p>
            </div>
            <div class="col-md-6">
                <p><i class="fa-solid fa-phone" ></i> <b>Phone:</b> <span th:text="${user.contact.phone}"></span></p>
                <p><i class="fa-solid fa-bank" ></i> <b>Bank account:</b> <span th:text="${user.contact.bankAccount}"></span></p>
            </div>
            </div>
        </div>

        <div class="p-2">
        <h4>Data manipulation</h4>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <p><i class="fa-solid fa-add" ></i> <b>Created at:</b> <span th:text="${#dates.format(user.createdAt, 'HH:mm:ss dd.MM.yyyy')}"></span></p>
                <p><i class="fa-solid fa-edit" ></i> <b>Last time edited:</b> <span th:text="${#dates.format(user.lastEditedAt, 'HH:mm:ss dd.MM.yyyy')}"></span></p>
            </div>
        </div>
        </div>

        <div class="p-2" th:if="${!user.projects.isEmpty()}">
            <h4>User is assigned to these projects</h4>
            <hr/>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered text-center" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th>Project ID</th>
                            <th>Project name</th>
                            <th>Project assigned to</th>
                            <th>Detail</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="project: ${user.projects}">
                            <td th:text="${project.id}">Project ID</td>
                            <td th:text="${project.name}">Project name</td>
                            <td><span th:text="${project.projectOwner?.getFullName()?:'No one assigned'}">No one assigned </span> <span th:text="'(' + ${#strings.capitalize(#strings.toLowerCase(project.projectOwner?.role))?:'No role'} + ')'"></span></td>
                            <td><a th:title="'Show details of '+${project.name}" th:href="@{'/dashboard/project/detail/'+${project.id}}"><i class="fa-solid fa-magnifying-glass"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>