<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Employerr</title>
  <link rel="stylesheet" th:href="@{/styles/mainStyle.css}"/>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"
          integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  <!-- Rich text CKEditor -->
  <script src="https://cdn.ckeditor.com/ckeditor5/35.4.0/classic/ckeditor.js"></script>
</head>
<body>
<div class="d-flex flex-column h-100">
  <!--  HEADER  -->
  <header th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class=" container-lg">
        <!-- Outer Navbar -->
        <div class="d-flex flex-row justify-content-between align-items-center w-100">
          <a th:href="@{/}">
            <img src="/images/textLogo.svg" height="64"
                 style="object-fit: cover"/>
          </a>
          <!-- Open mobile navbar -->
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                  data-bs-target="#navbarOffcanvasLg"
                  aria-controls="navbarOffcanvasLg">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg"
             aria-labelledby="navbarOffcanvasLgLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body container d-flex gap-4 flex-column flex-lg-row align-items-center">
            <a class="d-inline-flex text-nowrap" th:href="@{/}"><i class="bi-speedometer2 pe-2"></i>Dashboard</a>
            <a class="d-inline-flex text-nowrap" th:href="@{/dashboard/project/list/user}"><i
              class="bi-kanban pe-2"></i>My Projects</a>
            <div sec:authorize="!isAuthenticated()">
              <a class="d-inline-flex" th:href="@{/login}"><i class="bi-box-arrow-in-right pe-2"></i>Login</a>
            </div>
            <div sec:authorize="isAuthenticated()">
              <form th:action="@{/logout}" method="post">
                <i class="bi-door-closed-fill pe-2"></i><input type="submit" value="Logout">
              </form>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <!--  NOTIFICATIONS  -->
  <div class="toast-container position-absolute top-0 p-4">
    <div class="toast show my-2" th:if="${info}" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header bg-info">
        <strong class="text-dark me-auto">INFO:</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body bg-white rounded-bottom">
        <p class="m-0" th:text="${info}">INFO</p>
      </div>
    </div>

    <div class="toast show my-2" th:if="${error}" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header bg-danger">
        <strong class="text-dark me-auto">ERROR:</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body bg-white rounded-bottom">
        <p class="m-0" th:text="${error}">ERROR</p>
      </div>
    </div>
  </div>

  <!--  PAGE CONTENT  -->
  <section class="m-3" layout:fragment="content" style="flex: 1">
    <p>Page content goes here</p>
  </section>

  <!--  FOOTER  -->
  <footer th:fragment="header" class="text-bg-dark">
    <div class="container p-4">
      <hr style="color: white"/>
      <div class="d-flex justify-content-between">
        <p>&copy; Employerr <span th:text="${#execInfo.now.weekYear}"></span></p>
        <p>All rights reserved.</p>
      </div>
    </div>
  </footer>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>

<script type="text/javascript">
    $('#modalButton').on("click", function () {
        $('#modal').modal('show');
    });
    $('#closeButton').on("click", function () {
        $('#modal').modal('hide');
    });
</script>
<script>
    ClassicEditor.create(document.getElementById("editor"), {
        toolbar: {
            items: [
                'heading', '|',
                'bold', 'italic', 'bulletedList', 'numberedList', '|',
                'outdent', 'indent', '|',
                'link', 'blockQuote', '|',
                'undo', 'redo',
                '-',
                'alignment', '|',
            ],
        },
        heading: {
            options: [
                {model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph'},
                {model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1'},
                {model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2'},
                {model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3'},
                {model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4'},
                {model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5'},
            ]
        },
        placeholder: 'Place your text here!',
        htmlSupport: {
            allow: [
                {
                    name: /.*/,
                    attributes: true,
                    classes: true,
                    styles: true
                }
            ]
        },
        link: {
            decorators: {
                addTargetToExternalLinks: true,
                defaultProtocol: 'https://',
            }
        },
    });
</script>
</body>
</html>