<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">

<head>
    <title>Access denied</title>
</head>
<body>
<section layout:fragment="content" class="d-flex justify-content-center">
    <div class="col-bg-6">
        <div class="m-3 p-3 shadow rounded-5 text-center"><h1>Access denied!</h1>
            <p>Your access has been denied. If you think this is mistake, you should contact administrator to solve this issue.</p>
            <img title="No no no no!" width="100%" class="rounded-3" src="https://http.cat/403.jpg">

            <details>
                <summary class="my-1 small">If you are trying to access this page with malicious intent please stop it. Or else we will send out our battle cats to hunt you.</summary>
                    <img title="Angery... Give me your tuna can right now!" class="rounded-3 my-1 w-50" src="https://media.istockphoto.com/id/931789630/photo/cat-warrior-in-a-field.jpg?s=612x612&w=0&k=20&c=h6Eo8XZ1aMz_Cn_6VwUXHMXGhehXsAfxMJxs1ASIli8=" />
            </details>
        </div>
    </div>
</section>
</body>
</html>