<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">

<head>
  <title>Page not found</title>
</head>
<body>
<section layout:fragment="content" class="d-flex justify-content-center">
    <div class="col-bg-6">
      <div class="m-3 p-3 shadow rounded-5 text-center"><h1>Route not found!</h1>
          <p>Are you lost? <br/> You cannot find anything here. Please check your link for mistakes.</p>
        <img width="100%" class="rounded-3" src="https://http.cat/404.jpg" title="This cat is here to make you little bit happier. Smile or else...!">
      </div>
    </div>
</section>
</body>
</html>