<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">

<head>
    <title>Server error</title>
</head>
<body>
<section layout:fragment="content" class="d-flex justify-content-center">
    <div class="col-bg-6">
        <div class="m-3 p-3 shadow rounded-5 text-center"><h1>Internal error!</h1>
            <p>We messed up something. Please let us know what have you done, and we will fix the issue right away!</p>
            <img width="100%" class="rounded-3" src="https://http.cat/500.jpg" title="How the hell this happened?">
        </div>
    </div>
</section>
</body>
</html>