<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">

<head>
  <title>Error page</title>
</head>
<body>
<section layout:fragment="content" class="d-flex justify-content-center">
  <div class="col-bg-6">
    <div class="m-3 p-3 shadow rounded-5 text-center"><h1>Something went wrong!</h1><p>We don't know how and where, but report it, and we are working on it right away!</p>
      <img width="100%" class="rounded-3" src="https://http.cat/418.jpg" alt="418">
    </div>
  </div>
</section>
</body>
</html>