<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>
  <meta charset="UTF-8">
  <title>Employerr - dashboard</title>
</head>
<body th:class="${accessibleProjects} == null ?'non-auth':''">
<section layout:fragment="content" class="container-lg py-4">
  <div sec:authorize="!isAuthenticated()"
       class="d-flex flex-column justify-content-center align-items-center h-100 align-items-start">
    <div class="bg-white p-5 rounded-3">
      <h1 class="f-flex">
        <span class="d-flex align-self-start h2" style="color: var(--bs-red)">Hello!</span> Welcome to <u>Employerr</u>!
      </h1>
      <div class="d-flex flex-column">
        <a th:href="@{/login}">
          <button class="w-100 rounded-2 mt-4 p-3 border-0"
                  style="font-size: 1.5rem; line-height: 1.75rem; font-weight: bold">
            Log In
          </button>
        </a>
        <p class=" text-center mt-2
            ">Don't have account yet? <a href="mailto:admin@employerr.com">Contact admin.</a></p>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column flex-md-row-reverse gap-4 align-items-start row" sec:authorize="isAuthenticated()">
    <div class="card p-4 col col-12 col-md-4">
      <h2><i class="bi-person-circle pe-4"></i>Logged User:</h2>
      <div class="d-flex flex-column justify-content-end">
        <label><b>Name:</b></label>
        <p th:text="${#authentication.getPrincipal().getUser().getFullName()}">Name</p>
        <label><b>E-mail:</b></label>
        <p sec:authentication="principal.username">User fullname</p>
        <label><b>Role:</b></label>
        <p th:text="${#strings.capitalize(#strings.toLowerCase(#authentication.getPrincipal().getUser().role))}">
          role</p>


        <label><b><u>ADDRESS</u></b></label>
        <div th:if="${#authentication.getPrincipal().getUser().getContact()}">
          <div class="alert alert-danger" role="alert"
               th:if="${#authentication.getPrincipal().getUser().getContact()?.isAddressUnset()}">
            <span>Please add contact details to your account</span>
          </div>
          <div class="d-flex flex-column"
               th:if="!${#authentication.getPrincipal().getUser().getContact().isAddressUnset()}">
            <label th:inline="text">
              Street:
              <span
                th:text="${#authentication.getPrincipal().getUser().getContact().street} ?: 'Unknown'"></span>
            </label>
            <label th:inline="text">
              City:
              <span th:text="${#authentication.getPrincipal().getUser().getContact().city} ?: 'Unknown'"></span>
            </label>
            <label th:inline="text">
              State:
              <span th:text="${#authentication.getPrincipal().getUser().getContact().state} ?: 'Unknown'"></span>
            </label>
            <label th:inline="text">
              Zip code:
              <span th:text="${#authentication.getPrincipal().getUser().getContact().zipCode} ?: 'Unknown'"></span>
            </label>
          </div>
        </div>
        <div class="alert alert-danger" role="alert"
             th:if="${#authentication.getPrincipal().getUser().getContact() == null}">
          <span>Please add contact details to your account</span>
        </div>
      </div>
    </div>
    <div class="col col-12 col-md-8" style="flex: 1">
      <h2>Welcome to <u>Employerr!</u></h2>
      <p>Here are links you may find useful:</p>
      <hr/>

      <h3>Users</h3>
      <h4>
        <a sec:authorize="hasRole('ROLE_OWNER')" th:href="@{/dashboard/users}"><i class="bi-table me-2"></i>List of
          users</a>
      </h4>
      <h4>
        <a sec:authorize="hasRole('ROLE_OWNER')" th:href="@{/dashboard/registerUser}"><i
          class="bi-person-plus me-2"></i>Register new user</a>
      </h4>
      <h4>
        <a th:href="@{/dashboard/user/editMyAccount}"><i class="bi-person me-2"></i>Edit my account</a>
      </h4>
      <hr/>

      <h3>Projects</h3>
      <h4 sec:authorize="hasRole('ROLE_OWNER')">
        <a th:href="@{/dashboard/project/list}">
          <i class="bi-kanban me-2"></i>Projects list (All projects)</a>
      </h4>
      <h4>
        <a th:href="@{/dashboard/project/list/user}"><i class="bi-journals me-2"></i>My projects</a>
      </h4>
      <hr/>

      <h3 sec:authorize="hasRole('ROLE_OWNER')">Tasks</h3>
      <h4 sec:authorize="hasRole('ROLE_OWNER')"><a th:href="@{/dashboard/tasks}">
        <i class="fa-solid fa-list-check me-2"></i>Task list (All tasks)</a>
      </h4>
    </div>
  </div>

  <div th:if="${stats != null}" class="my-5">
    <div class="d-flex justify-content-between align-items-center">
      <h3>
        <i class="fa-solid fa-list"></i>
        Usage statistics
      </h3>
      <a th:href="${'/dashboard/timeOverview'}"><i class="fa-solid fa-clock mx-2"></i>Time overview</a>
    </div>
    <hr/>
    <div class="d-flex flex-row justify-content-evenly flex-wrap">

      <div class="shadow p-3 m-2 rounded-2 col-12  col-md-4">
        <h5><i class="fa-solid fa-users rounded-3 p-1" style="background-color:lightpink"></i> User statistics</h5>
        <hr/>
        <p><i class="fa-solid fa-user-check"></i> Activated accounts: <b
          th:text="${#numbers.formatInteger(stats.numOfUsers,0,'WHITESPACE')}"></b></p>
        <p><i class="fa-solid fa-user-cog"></i> Managers: <b
          th:text="${#numbers.formatInteger(stats.numOfManagers,0,'WHITESPACE')}"></b></p>
        <p><i class="fa-solid fa-user-group"></i> Basic employees: <b
          th:text="${#numbers.formatInteger(stats.numOfEmployees,0,'WHITESPACE')}"></b></p>
        <p><i class="fa-solid fa-circle-dollar-to-slot"></i> Total employee costs: <b
          th:text="${#numbers.formatDecimal(stats.sumOfSalary,0,'WHITESPACE',2,'POINT')}"></b>$ per hour</p>
        <p><i class="fa-solid fa-sack-dollar"></i> Average salary: <b
          th:text="${#numbers.formatDecimal(stats.averageSalary,0,'WHITESPACE',2,'POINT')}"></b>$</p>
      </div>
      <div class="shadow p-3 m-2 rounded-2 col-12 col-md-3">
        <h5><i class="fa-solid fa-file rounded-3 p-1" style="background-color:lightpink"></i> Project statistics</h5>
        <hr/>
        <p><i class="fa-solid fa-file-text"></i> Number of projects: <b
          th:text="${#numbers.formatInteger(stats.numOfProjects,0,'WHITESPACE')}"></b></p>
        <p><i class="fa-solid fa-person-circle-xmark"></i> Projects without leaders: <b
          th:text="${#numbers.formatInteger(stats.numOfProjectsWithoutOwner,0,'WHITESPACE')}"></b></p>
        <p><i class="fa-solid fa-user-group"></i> Average assigned to project: <b
          th:text="${#numbers.formatDecimal(stats.averageUsersOnProject,0,'WHITESPACE',0,'NONE')}"></b></p>
      </div>
      <div class="shadow p-3 m-2 rounded-2 col-12 col-md-3">
        <h5><i class="fa-solid fa-tasks rounded-3 p-1" style="background-color:lightpink"></i> Tasks statistics</h5>
        <hr/>
        <p><i class="fa-solid fa-tasks-alt"></i> All tasks: <b
          th:text="${#numbers.formatInteger(stats.numOfTasks,0,'WHITESPACE')}"></b></p>
        <p><i class="fa-solid fa-circle-xmark"></i> Not finished tasks: <b
          th:text="${#numbers.formatInteger(stats.numOfNonFinishedTasks,0,'WHITESPACE')}"></b></p>
        <p><i class="fa-solid fa-circle-check"></i> Finished tasks: <b
          th:text="${#numbers.formatInteger(stats.numOfFinishedTasks,0,'WHITESPACE')}"></b></p>
      </div>
    </div>
  </div>

</section>
</body>
</html>